main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 80vh;
  font-weight: 600;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}
.heading {
  font-size: 2.7rem;
  margin-bottom: 5.5rem;
}
